/* exam_completed.css */

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: center;
}

h1 {
    font-size: 28px;
    color: #4CAF50;
    text-align: center;
}

p {
    font-size: 18px;
    margin: 5px 0;
    text-align: center;
}

h3 {
    font-size: 22px;
    color: #333;
    margin-top: 20px;
    text-align: center;
}

ul {
    list-style-type: none;
    padding: 0;
    max-width: 600px;
    margin: 20px auto;
    margin-left: 50px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

ul li {
    background-color: #fafafa;
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

ul li:last-child {
    border-bottom: none;
}

strong {
    font-weight: bold;
}

a {
    display: block;
    width: fit-content;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    font-size: 18px;
}

a:hover {
    background-color: #45a049;
}

.btn {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
    margin-left: 120px;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #0056b3;
}

.btn-primary {
    background-color: #007bff;
}


/* Responsive Design */
@media (max-width: 600px) {
    body {
width: calc(100% - 100px);
display: block;
    };
    ul {
        padding: 10px;
        margin-left: 30px;
    }

    ul li {
        padding: 10px;
    }

    p, h3, a {
        font-size: 16px;
    }

    button[type="submit"] {
        width: 40%;
        align-self: center;
    }
}
